*{
    margin: 0;
    padding: 0;   
}
.body{
    margin-left: auto;
    margin-right: auto;
}
.cream{
    background: #EDEBE7;
    height: 400px;
    overflow: hidden;
}
nav{
    margin-right: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
}
.nav1, .nav3{
    display: inline-block;
}
.nav1, .nav3{
    width: 500px;
}
.nav1{
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 30px;
    text-align: right;
}
.nav1 a{
    text-decoration: none;
    color: #330938;
    font-family: 'Calistoga', cursive;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.brain{
    height: 100px;
    vertical-align: middle;
}
.nav3{
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 50px;
    text-align: left;
}
.nav3 a{
    text-decoration: none;
    color: #330938;
    font-family: 'Calistoga', cursive;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}
.rowing{
    background-image: url(Images/conditionstop.png);
    background-position: center;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    height: 550px;
}
.banner3 h6{
   font-family: 'Calistoga', cursive;
    color: #330938;
    font-size: 120px;
    text-align: right;
    margin-top: 100px;
    margin-right: 200px;
    margin-bottom: 20px;
    float: right;
}
.pink{
    background-color: #FF7BAC;
    height: 500px;
}
row{
    padding-top: 50px;
    display: flex;
    justify-content: right;
}
.roww h2{
    font-family: 'Calistoga', cursive;
    color: #234194;
    font-size: 50px;
    line-height: 60px;
    margin-top: 100px;
    margin-right: 190px;
    float: right; 
    text-align: left;
}
.roww p{
    position: absolute;
    text-align: left;
    color: #EDEBE7;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin-top: 180px;
    float: right;
    margin-right: 70px;
    margin-left: 640px;
}
.pink img{
    height: 300px;
    transform: translateY(200px);
}
.purplebanner2{
    background-color: #330938;
    height: 1700px;
}
.row1{
    display: flex;
    height: 40vh;
}
.row1 h4{
    text-align: left;
    float:left;
    font-family: 'Calistoga', cursive;
    color: #FF7BAC;
    font-size: 50px;
    line-height: 60px;
    margin-top: 80px;
    margin-left: 70px;
}
.row1 p{
    position: absolute;
    text-align: left;
    color: #EDEBE7;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin-top: 160px;
    margin-left: 70px;
}
.row1 img{
    height:400px;
    float: right;
    position: absolute;
    margin-left: 805px;
    transform: translateY(110px);
}
.row2{
    display: flex;
    height: 40vh;
}
.row2 h7{
    font-family: 'Calistoga', cursive;
    color: #FF7BAC;
    font-size: 50px;
    line-height: 60px;
    margin-top: 350px;
    margin-right: 70px;
    margin-left: 750px;
    float: right; 
    text-align: left;
}
.row2 p{
    position: absolute;
    text-align: left;
    color: #EDEBE7;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin-top: 430px;
    margin-right: 70px;
    margin-left: 750px;
    float: right;
}
.row2 img{
    height:450px;
    transform: translateY(350px);
    position: absolute;
    margin-left: 200px;
    
}
.row3{
    display: flex;
    height: 40vh;
}
.row3 h5{
    text-align: left;
    float:left;
    font-family: 'Calistoga', cursive;
    color: #FF7BAC;
    font-size: 50px;
    line-height: 60px;
    margin-top: 700px;
    margin-left: 70px;
}
.row3 p{
    position: absolute;
    text-align: left;
    color: #EDEBE7;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin-top: 780px;
    margin-left: 70px;
}
.row3 img{
    height: 400px;
    float: right;
    transform: translateY(600px);
    position: absolute;
    margin-left: 805px;
}
.footer{
    background-color: black;
    height: 150px; 
    padding: 50px 15%;
    display: flex;
    color: #EDEBE7;
}
.footer div{
    text-align: center;
    
}
.footer div h5,h6{
    font-family: 'Calistoga', cursive;
    font-size: 20px;
    color: #FF7BAC;
    text-align: left;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: #EDEBE7;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;
}
.col-2{
    margin-top: 25px;
    
}
.col-2 a{
    display: flex;
    text-decoration: none;
    color: #EDEBE7;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
}
.col-3{
    margin-left: 400px;
}
.social-icons i{
    color: #EDEBE7;
    font-size: 30px;
    margin-top: 10px;
    padding-right: 10px;
}





















